{% extends 'hangman_django/base.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <br>
        <h2>Word to guess: {{hashed_word}}</h2>
        <h3>Current attempt {{current_attempt}} / {{allowed_attempts}}</h3>
        {{ form }}
        <input type="submit" value="Submit">
        <h3>Used letters: {{used_letters}}</h3>

    </form>
    <br>
    <!--<form action="/add_user/">
        <p>If you do not have account please <input type="submit" value="register"/></p>
    </form>-->
{% endblock %}